.rs-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 24px;
	background-color: var(--rs-bg-color);
	color: var(--rs-font-color);
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	transition: background-color 0.3s;
}

.rs-button:hover {
	background-color: var(--rs-bg-hover-color);
	cursor: pointer;
}
